.skills-container {
    padding: 6% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;

    svg {
        color: white;
    }
}

.skills-container .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.skills-container .skills-grid .skill {
    align-items: center;
    text-align: left;
}

.chip {
    color: rgb(22, 25, 35) !important;
    background-color: rgba(255, 255, 255, 0.86) !important;
    font-size: 0.8rem !important;
    height: 27px !important;

    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(22, 25, 35);
    }
}

.flex-chips {
    line-height: 2;
    margin-top: 0.8rem;

    .chip-title {
        color: white;
        padding-right: 10px;
        font-weight: 700;
    }
}

.flex-chips .MuiChip-root {
    margin-right: 0.5em;
    margin-bottom: 0.4em;
}

@media screen and (max-width: 920px) {
    .skills-container {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }

    .skills-container .skills-grid {
        grid-template-columns: 1fr;
    }
}
