* {
    user-select: none;
}

.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 70px 15% 0;
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    .content {
        z-index: 2;

        .social_icons {
            display: flex;
            flex-direction: row;
            gap: 10px;

            svg {
                font-size: 1.8em;
            }
        }

        .mobile_social_icons {
            display: none;
        }

        p {
            font-size: 1.35em;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        h1 {
            font-size: 4.5em;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        .hero-intro {
            margin-top: 14px;
            font-size: 1rem;
            opacity: 0.9;
            max-width: 620px;
            line-height: 1.95;
        }

        .hero-intro-fa {
            line-height: 2.2;
            letter-spacing: -0.1px;
        }
    }

    .image-wrapper {
        z-index: 2;

        img {
            width: 170px;
            border-radius: 50%;
            border: 4px solid rgba(255, 255, 255, 0.35);
            box-shadow: 0 14px 35px rgba(0, 0, 0, 0.3);
        }
    }
}

@media screen and (max-width: 768px) {
    .about-section h1 {
        font-size: 3.1em !important;
    }

    .container {
        display: initial;
    }

    .social_icons {
        display: none !important;
    }

    .mobile_social_icons {
        padding-top: 10px;
        display: flex !important;
        flex-direction: row;
        gap: 10px;

        svg {
            font-size: 1.8em;
        }
    }

    .about-section {
        padding-top: 130px;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .about-section .content {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .about-section .image-wrapper {
        padding-left: 5%;
        width: 100%;
    }
}
